body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: black;
}
.Header{
    color: orange;
}
section{
    display: flex;
}
.First{
    width: 50%;
}
.first img{
    width: 100%;
}
.link_button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
}
.Banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}